# Basics
*.py[cod]
*.pyc
__pycache__

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.pot

# Pycharm
.idea

# Vim

*~
*.swp
*.swo

# npm
webserver/node_modules/
webserver/.npm/
webserver/.tmp/
webserver/temp/
webserver/build/
webserver/dist/
webserver/bower_components
webserver/test/bower_components

# Compass
client/.sass-cache

# Site content
media/

# Docker leftovers
.bash_history
