# Basics
*.py[cod]
*.pyc
__pycache__

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.pot

# Pycharm
.idea

# Vim

*~
*.swp
*.swo

# npm
client/node_modules/
client/.cache/*
client/.npm/
client/.tmp/
client/temp/
client/build/
client/dist/
client/bower_components
client/test/bower_components

# Compass
client/.sass-cache

# Site content
media/

# Docker leftovers
.bash_history
/webserver/dist/
/api/correspondence/.ipython/
/test.pdf
