# Basics
*.py[cod]
*.pyc
__pycache__

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.pot

# Pycharm
.idea

# Vim

*~
*.swp
*.swo

# npm
client/node_modules/
client/.npm/
client/.tmp/
client/temp/
client/dist/
client/app/bower_components
client/test/bower_components

# Campass
client/.sass-cache

# Site content
media/

