<div class="row">
    <div class="col-md-12">
        <h3>Logos</h3>
    </div>
    <div ng-repeat="logo in logos.logo" id="logos" class="col-md-2">
        <div class="logo" data-id="{{logo._id}}">
            <div class="thumbnail">
                <img src="{{logo.image}}">
                <div class="caption">
                    <h4 ng-bind-html="logo.name"></h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="letterheads" class="col-md-4">
        <h3>Letterheads</h3>
            <ul class="letterheads list-unstyled">
                <li ng-repeat="letterhead in letterheads.letterhead">
                    <div class="letterhead" data-id="{{letterhead.id}}">
                        <p ng-bind-html="letterhead.name"></p>
                        <p>Made available on <span ng-bind-html="letterhead.created | date:'d MMMM yyyy'"></span></p>
                    </div>
                </li>
            </ul>
    </div>
</div>

<div class="row">
    <div id="letters" class="col-md-4">
        <h3>Letters</h3>
            <ul class="letters list-unstyled">
                <li ng-repeat="letter in letters.letter">
                    <div class="letter" data-id="{{letter.id}}">
                        <a href="{{letter.url}}letter" class="btn btn-default" type="application/pdf">gedit</a>
                        <p>Sent on <span ng-bind-html="letter.date_sent | date:'d MMMM yyyy'"></span></p>
                    </div>
                </li>
            </ul>
    </div>
</div>

<div class="row">
    <div id="contentTemplates" class="col-md-4">
        <h3>Content templates</h3>
            <ul class="contentTemplates list-unstyled">
                <li ng-repeat="contentTemplate in contentTemplates.contentTemplate">
                    <div class="contentTemplates" data-id="{{contentTemplate.id}}">
                        <p ng-bind-html="contentTemplate.name"></p>
                        <p ng-bind-html="contentTemplate.text"></p>
                    </div>
                </li>
            </ul>
    </div>
</div>
